<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
LOGARE<br>
 

  <button ion-button (click)="afisare_token()">
    AFISARE TOKEN
  </button>

  <!--
  <button ion-button (click)="verifica_daca_sunt_logat()">
    VERIFICA DACA SUNT LOGAT 
  </button>
-->
  

  <div *ngIf="!sunt_logat">NU SUNT LOGAT<br>
      <button ion-button (click)="login()">
          LOGIN
        </button>
   </div>
   <div *ngIf="sunt_logat">
     SUNT LOGAT<br>
      <button ion-button (click)="logout()">
          LOGOUT 
        </button>
      
        <hr>
        <button ion-button (click)="suma()">
          SUMA
        </button>
  </div>
 


</ion-content>
